# Google Apps Script Configuration
# Your Google Apps Script web app URL
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyQwsV0i5ERTCRpgMDFoQD5WavIf_ETZ7iCUk7k9koZxtL0D0v-JTQUVv0KIGwqmY2mUA/exec
VITE_GOOGLE_SCRIPT_URL_MASTER=https://script.google.com/macros/s/AKfycbwpF-WH1C_vNc72j8ZYzc0M7qaXtsQ2sg_pw3cDrWw4gwwPivXD_QIjSfII644m3vbLbw/exec

